<table id="activities-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th>Activity Type</th>
      <th>Confirmed Type</th>
      <th>ETC Service Map</th>
      <th>Country</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{description}}</td>
        <td>{{activityType.activityType}}</td>
        <td>
          {{#color-label color=confirmedType.confirmedColorCode}}
            {{confirmedType.confirmedType}}
          {{/color-label}}
        </td>
        <td>
          {{#if etcServiceMap}}
            {{#tooltip-link href=etcServiceMap title=etcServiceMap}}
              Link
            {{/tooltip-link}}
          {{/if}}
        </td>
        <td>
          <ul class="list-unstyled">
            {{#each country}}
              <li>{{fullName}}</li>
            {{/each}}
          </ul>
        </td>
        <td>
          {{action-buttons
          createAction="createEvent"
          editAction="editEvent"
          deleteAction="deleteEvent"
          item=this}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
