<div id="planning-widget-container">
  <div class="row">
    <form class="form-horizontal" role="form">
      <div class="col-sm-4">
        <div class="well well-sm">
          <div class="form-group">
            <label for="confirmedType" class="col-sm-4 control-label">
              Confirmed Type
            </label>
            <div class="col-sm-8">
              {{view Ember.Select
              id="confirmedType"
              class="form-control"
              content=confirmedTypes
              optionLabelPath="content.confirmedType"
              optionValuePath="content.id"
              selection=selectedConfirmedType}}
            </div>
          </div>
        </div>

        <div class="well well-sm">
          <div class="form-group">
            <label for="activity" class="col-sm-4 control-label">
              Activity
            </label>
            <div class="col-sm-8">
              {{view Ember.Select
              id="activity"
              class="form-control"
              disabled=activityNotAvailable
              content=selectedActivities
              optionLabelPath="content.description"
              optionValuePath="content.id"
              selection=selectedActivity}}
            </div>
          </div>
          <div class="form-group">
            <label for="activity" class="col-sm-4 control-label">
              Country
            </label>
            <div class="col-sm-8">
              <div class="form-control">
                <ul class="list-inline">
                  {{#each selectedActivity.country}}
                    <li>
                      {{fullName}}
                    </li>
                  {{/each}}                
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="activity" class="col-sm-4 control-label">
              Activity Type
            </label>
            <div class="col-sm-8">
              <label class="form-control">
                {{selectedActivity.activityType.activityType}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>

    {{#crud-form model=this action="createStaffRole" padding=false button_label="Save"}}
      {{em-select property="staffRoleStaff"
      prompt="--- Staff ---"
      label="Staff"
      placeholder="Staff"
      content=staffList
      optionValuePath="content.id"
      optionLabelPath="content.fullName"}}

      {{em-input property="staffRoleLocation" label="Location" placeholder="Location"}}
      
      {{em-input property="staffRoleStartDate" label="Start Date" placeholder="Start Date"}}
      {{em-input property="staffRoleEndDate" label="End Date" placeholder="End Date"}}
      {{em-input  property="staffRoleComments" label="Comments" placeholder="Comments"}}

      {{em-select property="staffRoleConfirmedType"
      prompt="--- Confirmed Type ---"
      label="Confirmed Type"
      placeholder="Confirmed Type"
      content=confirmedTypes
      selection=staffRoleConfirmedType
      optionValuePath="content.id"
      optionLabelPath="content.confirmedType"}}
    {{/crud-form}}
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table id="planning-table"
             class="table table-bordered table-responsive table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Profile</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration (Days)</th>
          </tr>
        </thead>
        <tbody id="planning-table-body">
          {{#each ar in controller.selectedActivity.activityRole
            itemController="planning-activity-role"}}
            <tr class="info">
              <td>
                {{#if ar.isExpanded}}
                  <div class="btn-toolbar">
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-sm btn-danger"
                              {{action "collapse" on="click"}}>
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </div>
                    <div class="btn-group btn-group-sm">

                    </div>
                  </div>
                {{else}}
                  <button type="button" class="btn btn-sm btn-success"
                          {{action "collapse" on="click"}}>
                    <span class="glyphicon glyphicon-arrow-down"></span>
                  </button>
                  <span class="badge"> {{ar.staffRole.length}}</span>
                {{/if}}
              </td>
              <td>{{ar.profileType.profileType}}</td>
              <td>{{ar.location}}</td>
              <td>{{simple-date ar.startDate}}</td>
              <td>{{simple-date ar.endDate}}</td>
              <td>{{ar.duration}}</td>
            </tr>
            {{#if ar.staffRole}}
              {{#if ar.isExpanded}}
                <tr>
                  <td colspan="6">
                    <table id="planning-table"
                           class="table table-bordered table-responsive">
                      <thead>
                        <tr>
                          <th>Staff Name</th>
                          <th>Staff Index</th>
                          <th>Location</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Duration (Days)</th>
                          <th>Comments</th>
                          <th>Confirmed Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each sr in ar.staffRole
                          itemController="planning-staff-role"}}
                          <tr {{action "toggleEdit" sr}}>
                            <td>{{sr.firstStaff.fullName}}</td>
                            <td>{{sr.firstStaff.id}}</td>
                            <td>{{sr.location}}</td>
                            <td>{{simple-date sr.startDate}}</td>
                            <td>{{simple-date sr.endDate}}</td>
                            <td>{{sr.duration}}</td>
                            <td>{{sr.comments}}</td>
                            <td>
                              {{#color-label color=sr.confirmedType.confirmedColorCode}}
                                {{sr.confirmedType.confirmedType}}
                              {{/color-label}}
                            </td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </td>
                </tr>
              {{/if}}
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{outlet}}
